body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f2f7; /* لون الخلفية */
    font-family: 'Open Sans', sans-serif; /* نوع الخط */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}
